.percent {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    line-height: 140px;
    z-index: 2;

    &:after {
        content: "%";
        font-size: 50%;
        margin-left: 0.1em;
    }
}

