//variables of text and accent color
$primary-accent-color: #f38181;
$secondary-accent-color: #fce38a;

$primary-dark-color: #333333;
$secondary-dark-color: #999999;

$primary-light-color: #ffffff;
$secondary-light-color: #e5e5e5;

//variables of background color
$primary-bg-color: #95e1d3;
$secondary-bg-color: #4bc7b0;

//variables of linear-gradient bg
$primary-lg-color: rgba(243, 129, 129, .9);
$secondary-lg-color: rgba(252, 227, 138, .9);

//variables of text size, height and weight
$zero-text-size: 0px;

$primary-text-size: 14px;
$primary-text-height: 17px;
$secondary-text-size: 15px;
$secondary-text-height: 24px;

$total-text-weight: 300;
$primary-text-weight: 400;
$secondary-text-weight: 700;

$promo-title-size: 150px;
$promo-title-heigh: 140px;
$promo-subtitle-size: 72px;
$promo-subtitle-heigh: 86px;

$section-title-size: 30px;
$section-title-heigh: 36px;
$section-subtitle-size: 24px;
$section-subtitle-heigh: 29px;

//variables of fonts
$primary-text-font: 'Montserrat', 'Roboto', sans-serif;
$secondary-text-font: 'Roboto', 'Montserrat', sans-serif;
$total-text-font: 'Kaushan Script', 'Cedarville Cursive', cursive;