html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #E7746F;
}

a:hover {
	text-decoration: none;
	color: #999;
}
